---
import Layout from '../layouts/Layout.astro';
import Footer from '../sections/Footer.astro';
import Header from '../sections/Header.astro';
import Hero from '../sections/Hero.astro';
---

<Layout>
	<Header />
	<Hero />
	<footer class="p-4 text-center">
		<a href="/login" class="underline">Ir a Login</a>
		<span class="mx-2">·</span>
		<a href="/register" class="underline">Crear cuenta</a>
	</footer>
</Layout>



