<footer class="p-4 text-center text-bj-white/80">
  <a href="/login" class="underline hover:text-white">Ir a Login</a>
  <span class="mx-2">·</span>
  <a href="/register" class="underline hover:text-white">Crear cuenta</a>
</footer>