<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Contador Cartas BJ" />
		<meta name="keywords" content="Contador, Cartas, BJ" />
		<meta name="author" content="INFOSYSTEM" />
		<meta name="robots" content="index, follow" />
		<meta name="language" content="es" />
		<meta name="copyright" content="INFOSYSTEM" />
		<meta name="google-site-verification" content="google-site-verification" />
		<meta name="googlebot" content="index, follow" />
		<meta name="bingbot" content="index, follow" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="yandexbot" content="index, follow" />
		<title>Contador Cartas BJ</title>
	</head>
	<body>
		<slot />

	</body>
</html>

<style is:global>
	@import "tailwindcss";
	@plugin "@midudev/tailwind-animations";
	@theme {
		--color-bj-green: #0b8f2a;
		--color-bj-black: #0a0a0a;
		--color-bj-white: #ffffff;
		--color-bj-gray: #6b7280;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	body {
		background-image: linear-gradient(to bottom right, var(--color-bj-green), var(--color-bj-black));
		color: var(--color-bj-white);
	}
</style>
